<<<<<<< HEAD
/*
  Main style sheet for my portfolio
*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Century Gothic', serif;
  font-size: 1rem;
}

#main-nav, .side-container {
  display: flex;
  width: auto;
  height: 70px;
  justify-content: flex-end;
  background-color: #262626;
}

#main-nav a {
  color: #ffffff;
  padding-top: 1%;
  padding-right: 2%;
  font-size: 1rem;
  text-decoration: none;
}

#main-nav a:hover, .resources a:hover, .about-desc a:hover {
  color: #989898;
  -webkit-transition: color 500ms ease-out;
  -moz-transition: color 500ms ease-out;
  -o-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
}

#landing {
  background-color: #262626;
  height: 500px;
}

#heading-outline {
  border: 10px #ffffff;
}

h1 {
  display: inline-block;
  width: 40%;
  border: 2px solid #ffffff;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 3rem;
  color: #ffffff;
}

#about-me h1 {
  color: #262626;
}

#intro {
  margin: auto 30%;
  line-height: 2;
  text-align: left;
  font-size: 1.2rem;
  color: #ffffff;
}

#about-me {
  margin: 10% 20%;
}

[alt="my-pic"] {
}

.about-desc {
  text-align: left;
  line-height: 2;
}

[alt="work-image"] {
  width: 40%;
  height: auto;
}

.side-nav {
  display: none;
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #262626;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  opacity: 0.9;
}

.side-nav a {
  padding: 12px 8px 20px 32px;
  text-decoration: none;
  font-size: 1.75rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  display: block;
  width: auto;
  height: auto;
  color: #a9a9a9;
}

.toggle {
  display: none;
  padding-top: 2rem;
  top: 3%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.toggle:hover {
  cursor: pointer;
}

.span-hover {
  margin: 10px auto;
  width: 25px;
}

.toggle span {
  position: relative;
  width: 32px;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
  display: block;
  margin-bottom: 6px;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.toggle span:nth-child(1) {
  transform-origin: left;
}

.toggle span:nth-child(2) {
  transform-origin: center;
}

.toggle span:nth-child(3) {
  transform-origin: right;
}

main {
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%;
  color: #262626;
}

#projects {
  background-color: #ffffff;
  margin: auto;
}

#projects img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.row {
  margin-bottom: 2%;
}

.col-md-4:hover img  {

  box-shadow: 0 4px 10px 0 #989898, 0px 5px 20px 0px #989898;
  transition: 0.5s ease;
}

.col-md-4:hover .overlay {
  opacity: 0.9;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2;
  right: 3;
  height: 100%;
  width: 95.9%;
  opacity: 0;
  transition: .5s ease;
  background-color: #262626;
}

.text {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#skills {
  display: flex;
  justify-content: space-around;
  margin: 5% 5%;
}

.skills-list {
  padding: 0;
  list-style-type: none;
  line-height: 2.5;
}

footer {
  margin-top: 5%;
  background-color: #ffffff;
}

/*
  Styling for project pages
*/

#project-intro {
  text-align: center;
}

.project-title {
  color: #262626;
  font-size: 4rem;
}

.project-message {
  font-size: 1.25rem;
  margin-bottom: 3%;
}

#project-content p, #project-content h4, #project-content h5 {
  text-align: left;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 25%;
  margin-right: 25%;
}

#project-content p {
  line-height: 2.5;
}

#project-content > img {
  width: 50%;
  height: 80%;
}

[alt="splitImage"], [alt="mockups"], [alt="sketch3"], [alt="swagBagPic"] {
  margin: 5% auto;
}

[alt="mockups"] {
  margin-bottom: 9%;
}

[alt="swagBagPic"] {
  display: block;
  margin-left: auto;
  margin-right: 35%;
}

.craigslist-block {
  display: block;
  position: relative;
  background: #262626;
  width: auto;
  height: 20%;
  padding: 15%;
}

.craigslist-block img {
  position: absolute;
  top: 13%;
  right: 10%;
  width: 40%;
  height: auto;
}

.craigslist-message {
  color: #ffffff;
  text-align: left;
  white-space: nowrap;
  font-size: 3.5rem;
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 40%;
}

.craigslist-message span {
  color: #FA43E8;
}

.craigslist-message2 {
  color: #ffffff;
  text-align: left;
  white-space: nowrap;
  font-size: 1.5rem;
  position: absolute;
  top: 40%;
  right: 40%;
}

hr {
  width: 50%;
  border-top: 1px solid #a9a9a9;
  opacity: 0.5;
}

#project-content {
  margin-top: 10%;
}

#project-content #craigslist-user {
  text-align: center;
  font-size: 1.5rem;
}

#project-content ul {
  margin-left: 30%;
  text-align: left;
}

ul li{
  margin: 2% auto;
  font-size: 1.25rem;
}

[alt="userFlow"] {
  width: auto;
  height: 5%;
  margin-bottom: 0;
}

[alt="craigslistHomepage"] {
  max-width: 60%;
  max-height: 60%;
}

.resources a, .about-desc a {
  color: #blue;
  text-decoration: none;
}

#mycarousel {
  margin: auto;
  max-width: 70%;
}

.carousel-inner img {
  width: auto;
  height: 100%;
  max-height: 80%;
}

ol.carousel-indicators {
  height: 2.5%;
}

ol.carousel-indicators li {
  z-index: 0;
  margin-top: 15%;
  height: 10px;
  width: 60px;
  background: #A0A0A0;
  opacity: 0.8;
}

ol.carousel-indicators li.active {
  background: #262626;
  opacity: 1;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #A0A0A0;
  opacity: 0.6;
  width: 6%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: #262626;
  opacity: 0.8;
  transition: all 0.2s ease-out;
}

.home-title {
  margin: 5% auto;
}

.social-media {
  margin-top: 5%;
  margin-bottom: 2%;
}

.home-hr {
  margin: 5% auto;
}

/* Style all font awesome icons */
.fa {
  margin: auto 0.5%;
  padding: 0.5%;
  font-size: 40px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  width: 8%;
  padding: 0.6%;
  color: white;
  opacity: 0.9;
  text-decoration: none;
  box-shadow: 0 4px 10px 0 #262626, 0px 5px 20px 0px #989898;
  -webkit-transition: color 1000ms ease;
  -moz-transition: color 1000ms ease;
  -o-transition: color 1000ms ease;
  transition: color 1000ms ease;
  cursor: pointer;
  transition: 250ms ease;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: #24292e;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.nextprevious {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.nextprevious a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.nextprevious a:hover {
  color: #989898;
  text-decoration: underline;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  cursor: pointer;
}

.next, .previous {
  color: black;
}

.round {
  border-radius: 50%;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    width: 80%;
    border: 2px solid #ffffff;
    font-size: 2.5rem;
  }

  h4, h5 {
    font-size: 1.25rem;
  }

  #intro {
    text-align: center;
    margin: auto 5% 10%;
    margin-top: 10%;
    font-size: 1rem;
  }

  #skills {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card {
    font-size: 1rem;
  }

  #main-nav a {
    display: none;
  }

  .toggle {
    z-index: 2;
    display: block;
  }

  .toggle.active span:nth-child(1) {
    left: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .toggle.active span:nth-child(2) {
    right: 3px;
    top: 2px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  .toggle.active span:nth-child(3) {
    opacity: 0;
    width: 0%;
    transform: translate3d(-30px, 0px, 0px);
  }

  .side-nav {
    display: block;
  }

  .project-title {
    text-align: center;
    font-size: 2rem;
  }

  .project-message {
    margin: auto 2% 2%;
    font-size: 1rem;
  }

  .craigslist-message {
    text-align: left;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 10%;
    right: 35%;
  }

  .craigslist-message2 {
    color: #ffffff;
    text-align: left;
    white-space: nowrap;
    font-size: 0.8rem;
    position: absolute;
    top: 40%;
    right: 40%;
  }

  #project-content ul {
    margin-left: 22%;
    text-align: left;
  }

  #project-content #craigslist-user, ul li {
    font-size: 1rem;
  }

  #project-content img {
    width: 350px;
    height: auto;
  }

  .toggle {
    padding-top: 8%;
    padding-bottom: 5%;
  }

  ol.carousel-indicators li {
    margin-top: 25%;
    height: 10px;
    width: 50px;
    background: #A0A0A0;
    opacity: 0.8;
  }

  .carousel-inner img {
    width: auto;
    height: 200px;
    max-height: 800;
  }

  /* Style all font awesome icons */
  .fa {
    margin: auto 0.5%;
    padding: 2%;
    font-size: 30px;
    width: 15%;
    text-align: center;
    text-decoration: none;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    width: 25%;
    padding: 3%;
    color: white;
    opacity: 0.9;
    text-decoration: none;
    box-shadow: 0 4px 10px 0 #262626, 0px 5px 20px 0px #989898;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
    transition: color 1000ms ease;
    cursor: pointer;
    transition: 250ms ease;
  }

  .home-title {
    margin-top: 75px;
  }

  .home-hr {
    margin-bottom: 75px;
  }
}

/* Media query for tablet */
@media only screen and (min-width: 769px) and
(max-width: 1160px) {
  body {
    font-size: 1rem;
  }

  h1 {
    width: 80%;
    border: 2px solid #ffffff;
    font-size: 2.5rem;
  }

  h4, h5 {
    font-size: 1.25rem;
  }

  #intro {
    text-align: left;
    margin: auto 10%;
    margin-top: 2%;
    font-size: 1rem;
  }

  #skills {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card {
    font-size: 1rem;
  }

  #main-nav a {
    display: none;
  }

  .toggle {
    z-index: 2;
    display: block;
  }

  .toggle.active span:nth-child(1) {
    left: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .toggle.active span:nth-child(2) {
    right: 3px;
    top: 2px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  .toggle.active span:nth-child(3) {
    opacity: 0;
    width: 0%;
    transform: translate3d(-30px, 0px, 0px);
  }

  .side-nav {
    display: block;
  }

  .project-title {
    text-align: center;
    font-size: 3rem;
  }

  .craigslist-message {
    text-align: left;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 100px;
  }

  .craigslist-message2 {
    color: #ffffff;
    text-align: left;
    white-space: nowrap;
    font-size: 0.8rem;
    position: absolute;
    top: 40%;
    right: 40%;
  }

  #project-content {
    margin-top: 15%;
  }

  #project-content ul {
    margin-left: 22%;
    text-align: left;
  }

  #project-content #craigslist-user, ul li {
    font-size: 1rem;
  }

  .project-message {
    font-size: 1.25rem;
  }

  .toggle {
    padding-top: 8%;
    padding-bottom: 5%;
  }

  /* Style all font awesome icons */
  .fa {
    margin: auto 0.5%;
    padding: 2%;
    font-size: 30px;
    width: 15%;
    text-align: center;
    text-decoration: none;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    width: 25%;
    padding: 3%;
    color: white;
    opacity: 0.9;
    text-decoration: none;
    box-shadow: 0 4px 10px 0 #262626, 0px 5px 20px 0px #989898;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
    transition: color 1000ms ease;
    cursor: pointer;
    transition: 250ms ease;
  }

  .home-title {
    margin-top: 75px;
  }

  .home-hr {
    margin-bottom: 75px;
  }

  .carousel-indicators {
    margin-top: 500px;
  }

  ol.carousel-indicators li {
    margin-top: 15%;
  }

  .carousel-inner img {
    width: auto;
    height: 450px;
    max-height: 450px;
  }

  .mycarousel {
    margin-bottom: 20%;
  }

  .text {
    font-size: 3rem;
  }
}
=======
/*
  Main style sheet for my portfolio
*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Century Gothic', serif;
  font-size: 1rem;
}

#main-nav, .side-container {
  display: flex;
  width: auto;
  height: 70px;
  justify-content: flex-end;
  background-color: #262626;
}

#main-nav a {
  color: #ffffff;
  padding-top: 1%;
  padding-right: 2%;
  font-size: 1rem;
  text-decoration: none;
}

#main-nav a:hover, .resources a:hover, .about-desc a:hover {
  color: #989898;
  -webkit-transition: color 500ms ease-out;
  -moz-transition: color 500ms ease-out;
  -o-transition: color 500ms ease-out;
  transition: color 500ms ease-out;
}

#landing {
  background-color: #262626;
  height: 500px;
}

#heading-outline {
  border: 10px #ffffff;
}

h1 {
  display: inline-block;
  width: 40%;
  border: 2px solid #ffffff;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 3rem;
  color: #ffffff;
}

#about-me h1 {
  color: #262626;
}

#intro {
  margin: auto 30%;
  line-height: 2;
  text-align: left;
  font-size: 1.2rem;
  color: #ffffff;
}

#about-me {
  margin: 10% 20%;
}

[alt="my-pic"] {
}

.about-desc {
  text-align: left;
  line-height: 2;
}

[alt="work-image"] {
  width: 40%;
  height: auto;
}

.side-nav {
  display: none;
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #262626;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  opacity: 0.9;
}

.side-nav a {
  padding: 12px 8px 20px 32px;
  text-decoration: none;
  font-size: 1.75rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  display: block;
  width: auto;
  height: auto;
  color: #a9a9a9;
}

.toggle {
  display: none;
  padding-top: 2rem;
  top: 3%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.toggle:hover {
  cursor: pointer;
}

.span-hover {
  margin: 10px auto;
  width: 25px;
}

.toggle span {
  position: relative;
  width: 32px;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
  display: block;
  margin-bottom: 6px;
  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.toggle span:nth-child(1) {
  transform-origin: left;
}

.toggle span:nth-child(2) {
  transform-origin: center;
}

.toggle span:nth-child(3) {
  transform-origin: right;
}

main {
  transition: margin-left 0.5s;
  overflow: hidden;
  width: 100%;
  color: #262626;
}

#projects {
  background-color: #ffffff;
  margin: auto;
}

#projects img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.row {
  margin-bottom: 2%;
}

.col-md-4:hover img  {

  box-shadow: 0 4px 10px 0 #989898, 0px 5px 20px 0px #989898;
  transition: 0.5s ease;
}

.col-md-4:hover .overlay {
  opacity: 0.9;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2;
  right: 3;
  height: 100%;
  width: 95.9%;
  opacity: 0;
  transition: .5s ease;
  background-color: #262626;
}

.text {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#skills {
  display: flex;
  justify-content: space-around;
  margin: 5% 5%;
}

.skills-list {
  padding: 0;
  list-style-type: none;
  line-height: 2.5;
}

footer {
  margin-top: 5%;
  background-color: #ffffff;
}

/*
  Styling for project pages
*/

#project-intro {
  text-align: center;
}

.project-title {
  color: #262626;
  font-size: 4rem;
}

.project-message {
  font-size: 1.25rem;
  margin-bottom: 3%;
}

#project-content p, #project-content h4, #project-content h5 {
  text-align: left;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 25%;
  margin-right: 25%;
}

#project-content p {
  line-height: 2.5;
}

#project-content > img {
  width: 50%;
  height: 80%;
}

[alt="splitImage"], [alt="mockups"], [alt="sketch3"], [alt="swagBagPic"] {
  margin: 5% auto;
}

[alt="mockups"] {
  margin-bottom: 9%;
}

[alt="swagBagPic"] {
  display: block;
  margin-left: auto;
  margin-right: 35%;
}

.craigslist-block {
  display: block;
  position: relative;
  background: #262626;
  width: auto;
  height: 20%;
  padding: 15%;
}

.craigslist-block img {
  position: absolute;
  top: 13%;
  right: 10%;
  width: 40%;
  height: auto;
}

.craigslist-message {
  color: #ffffff;
  text-align: left;
  white-space: nowrap;
  font-size: 3.5rem;
  font-weight: bold;
  position: absolute;
  top: 10%;
  right: 40%;
}

.craigslist-message span {
  color: #FA43E8;
}

.craigslist-message2 {
  color: #ffffff;
  text-align: left;
  white-space: nowrap;
  font-size: 1.5rem;
  position: absolute;
  top: 40%;
  right: 40%;
}

hr {
  width: 50%;
  border-top: 1px solid #a9a9a9;
  opacity: 0.5;
}

#project-content {
  margin-top: 10%;
}

#project-content #craigslist-user {
  text-align: center;
  font-size: 1.5rem;
}

#project-content ul {
  margin-left: 30%;
  text-align: left;
}

ul li{
  margin: 2% auto;
  font-size: 1.25rem;
}

[alt="userFlow"] {
  width: auto;
  height: 5%;
  margin-bottom: 0;
}

[alt="craigslistHomepage"] {
  max-width: 60%;
  max-height: 60%;
}

.resources a, .about-desc a {
  color: #blue;
  text-decoration: none;
}

#mycarousel {
  margin: auto;
  max-width: 70%;
}

.carousel-inner img {
  width: auto;
  height: 100%;
  max-height: 80%;
}

ol.carousel-indicators {
  height: 2.5%;
}

ol.carousel-indicators li {
  z-index: 0;
  margin-top: 15%;
  height: 10px;
  width: 60px;
  background: #A0A0A0;
  opacity: 0.8;
}

ol.carousel-indicators li.active {
  background: #262626;
  opacity: 1;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #A0A0A0;
  opacity: 0.6;
  width: 6%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: #262626;
  opacity: 0.8;
  transition: all 0.2s ease-out;
}

.home-title {
  margin: 5% auto;
}

.social-media {
  margin-top: 5%;
  margin-bottom: 2%;
}

.home-hr {
  margin: 5% auto;
}

/* Style all font awesome icons */
.fa {
  margin: auto 0.5%;
  padding: 0.5%;
  font-size: 40px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  width: 8%;
  padding: 0.6%;
  color: white;
  opacity: 0.9;
  text-decoration: none;
  box-shadow: 0 4px 10px 0 #262626, 0px 5px 20px 0px #989898;
  -webkit-transition: color 1000ms ease;
  -moz-transition: color 1000ms ease;
  -o-transition: color 1000ms ease;
  transition: color 1000ms ease;
  cursor: pointer;
  transition: 250ms ease;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: #24292e;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.nextprevious {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.nextprevious a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.nextprevious a:hover {
  color: #989898;
  text-decoration: underline;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  cursor: pointer;
}

.next, .previous {
  color: black;
}

.round {
  border-radius: 50%;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    width: 80%;
    border: 2px solid #ffffff;
    font-size: 2.5rem;
  }

  h4, h5 {
    font-size: 1.25rem;
  }

  #intro {
    text-align: center;
    margin: auto 5% 10%;
    margin-top: 10%;
    font-size: 1rem;
  }

  #skills {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card {
    font-size: 1rem;
  }

  #main-nav a {
    display: none;
  }

  .toggle {
    z-index: 2;
    display: block;
  }

  .toggle.active span:nth-child(1) {
    left: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .toggle.active span:nth-child(2) {
    right: 3px;
    top: 2px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  .toggle.active span:nth-child(3) {
    opacity: 0;
    width: 0%;
    transform: translate3d(-30px, 0px, 0px);
  }

  .side-nav {
    display: block;
  }

  .project-title {
    text-align: center;
    font-size: 2rem;
  }

  .project-message {
    margin: auto 2% 2%;
    font-size: 1rem;
  }

  .craigslist-message {
    text-align: left;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    top: 10%;
    right: 35%;
  }

  .craigslist-message2 {
    color: #ffffff;
    text-align: left;
    white-space: nowrap;
    font-size: 0.8rem;
    position: absolute;
    top: 40%;
    right: 40%;
  }

  #project-content ul {
    margin-left: 22%;
    text-align: left;
  }

  #project-content #craigslist-user, ul li {
    font-size: 1rem;
  }

  #project-content img {
    width: 350px;
    height: auto;
  }

  .toggle {
    padding-top: 8%;
    padding-bottom: 5%;
  }

  ol.carousel-indicators li {
    margin-top: 25%;
    height: 10px;
    width: 50px;
    background: #A0A0A0;
    opacity: 0.8;
  }

  .carousel-inner img {
    width: auto;
    height: 200px;
    max-height: 800;
  }

  /* Style all font awesome icons */
  .fa {
    margin: auto 0.5%;
    padding: 2%;
    font-size: 30px;
    width: 15%;
    text-align: center;
    text-decoration: none;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    width: 25%;
    padding: 3%;
    color: white;
    opacity: 0.9;
    text-decoration: none;
    box-shadow: 0 4px 10px 0 #262626, 0px 5px 20px 0px #989898;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
    transition: color 1000ms ease;
    cursor: pointer;
    transition: 250ms ease;
  }

  .home-title {
    margin-top: 75px;
  }

  .home-hr {
    margin-bottom: 75px;
  }
}

/* Media query for tablet */
@media only screen and (min-width: 769px) and
(max-width: 1160px) {
  body {
    font-size: 1rem;
  }

  h1 {
    width: 80%;
    border: 2px solid #ffffff;
    font-size: 2.5rem;
  }

  h4, h5 {
    font-size: 1.25rem;
  }

  #intro {
    text-align: left;
    margin: auto 10%;
    margin-top: 2%;
    font-size: 1rem;
  }

  #skills {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card {
    font-size: 1rem;
  }

  #main-nav a {
    display: none;
  }

  .toggle {
    z-index: 2;
    display: block;
  }

  .toggle.active span:nth-child(1) {
    left: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .toggle.active span:nth-child(2) {
    right: 3px;
    top: 2px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  .toggle.active span:nth-child(3) {
    opacity: 0;
    width: 0%;
    transform: translate3d(-30px, 0px, 0px);
  }

  .side-nav {
    display: block;
  }

  .project-title {
    text-align: center;
    font-size: 3rem;
  }

  .craigslist-message {
    text-align: left;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 100px;
  }

  .craigslist-message2 {
    color: #ffffff;
    text-align: left;
    white-space: nowrap;
    font-size: 0.8rem;
    position: absolute;
    top: 40%;
    right: 40%;
  }

  #project-content {
    margin-top: 15%;
  }

  #project-content ul {
    margin-left: 22%;
    text-align: left;
  }

  #project-content #craigslist-user, ul li {
    font-size: 1rem;
  }

  .project-message {
    font-size: 1.25rem;
  }

  .toggle {
    padding-top: 8%;
    padding-bottom: 5%;
  }

  /* Style all font awesome icons */
  .fa {
    margin: auto 0.5%;
    padding: 2%;
    font-size: 30px;
    width: 15%;
    text-align: center;
    text-decoration: none;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    width: 25%;
    padding: 3%;
    color: white;
    opacity: 0.9;
    text-decoration: none;
    box-shadow: 0 4px 10px 0 #262626, 0px 5px 20px 0px #989898;
    -webkit-transition: color 1000ms ease;
    -moz-transition: color 1000ms ease;
    -o-transition: color 1000ms ease;
    transition: color 1000ms ease;
    cursor: pointer;
    transition: 250ms ease;
  }

  .home-title {
    margin-top: 75px;
  }

  .home-hr {
    margin-bottom: 75px;
  }

  .carousel-indicators {
    margin-top: 500px;
  }

  ol.carousel-indicators li {
    margin-top: 15%;
  }

  .carousel-inner img {
    width: auto;
    height: 450px;
    max-height: 450px;
  }

  .mycarousel {
    margin-bottom: 20%;
  }

  .text {
    font-size: 3rem;
  }
}
>>>>>>> a5efe621dbe0a32f6a4f431cbd411a93e64d6b68
